.line{
    text-decoration: line-through;
    display: none;
  
}
.todo{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    width: 400px;
    border-radius: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}
