.todos{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  
}
.line{
    text-decoration: line-through;
}

.input button{
    background-color: white;
    border: none;
    margin-left: 20px;
    border-radius: 15px;  
    font-size: xx-large;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.todos input{
    font-size: xx-large;
    padding: 13px;
    border-radius: 15px;
    border: none;
    color: black;
}
.todo{
    display: flex;
    flex-direction: column;
}
.comptodo{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    width: 400px;
    border-radius: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}